<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.hunthouse">


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>



    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/house_hunt_logo"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/house_hunt_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.project.hunthouse.View.Home"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />



        <activity
            android:name="com.project.hunthouse.View.LoginActivity"
            android:label="HouseHunt"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="com.project.hunthouse.View.EventDetails"
            android:label="@string/title_activity_event_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.project.hunthouse.View.AddEvent"
            android:label="@string/title_activity_add_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.project.hunthouse.View.MyProfile"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.project.hunthouse.View.FabAndSnackbarActivity"
            android:label="About Hunt House"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.project.hunthouse.View.MyTodoList"
            android:label="Manage My Notes"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.project.hunthouse.View.MyCustomView" />

        <activity android:name="com.project.hunthouse.View.ChatActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name="com.project.hunthouse.View.PaypalActivity" />
        <activity android:name="com.project.hunthouse.View.Gallery" />
        <activity android:name="com.project.hunthouse.View.CommentsActivity"></activity>

        <!-- Vishal -->
        <activity android:name="com.project.hunthouse.View.MainActivity" android:theme="@style/NoActionBar"/>
        <activity android:name="com.project.hunthouse.View.tenantSingleRoom" />
        <activity android:name="com.project.hunthouse.View.TenantApartment" />

        <activity android:name="com.project.hunthouse.View.OwnerSingleRoom" />
        <activity android:name="com.project.hunthouse.View.OwnerApartment"></activity>

        <!--
           The API key for Google Maps-based APIs is defined as a string resource.
           (See the file "res/values/google_maps_api.xml").
           Note that the API key is linked to the encryption key used to sign the APK.
           You need a different API key for each encryption key, including the release key that is used to
           sign the APK for publishing.
           You can define the keys for the debug and release targets in src/debug/ and src/release/.
      -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.project.hunthouse.View.MapsActivity"
            android:label="@string/title_activity_maps"></activity>


    </application>

</manifest>